/* src/Pages/login/LoginPage.css */
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'Hind Vadodara', sans-serif;
  overflow: hidden;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0033A0;
  position: relative;
}

.header, .footer {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.bubble {
  width: 50%;
  height: auto;
}

.header {
  top: 0;
}

.footer {
  bottom: 0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  transition: transform 0.6s ease-in-out;
}

.form {
  background: rgba(245, 245, 245, 0.9);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.6s ease-in-out;
  animation: formAnimation 0.5s ease-out;
}

.form.shift-left {
  transform: translateX(0);
}

.form-content h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.form-content label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
}

.form-content input[type="text"],
.form-content input[type="password"],
.form-content input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.form-content input[type="text"]:focus,
.form-content input[type="password"]:focus,
.form-content input[type="email"]:focus {
  border-color: #0033A0;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.form-content button {
  background-color: #0033A0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.form-content button:hover {
  background-color: #002680;
}

.form-content a {
  display: block;
  color: #0033A0;
  margin: 10px 0;
  text-decoration: none;
  transition: color 0.3s ease;
}

.form-content a:hover {
  color: #002680;
}

.form-content hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}

.form-content a:last-child {
  font-weight: bold;
}

@keyframes formAnimation {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
